:root {
  --background-color: #061e34;

  --background-color-degraded: linear-gradient(
    180deg,
    rgba(6, 30, 52, 1) 35%,
    rgb(35, 84, 129) 100%
  );

  --primary-color-100: rgba(255, 193, 0, 1);
  --primary-color-80: rgba(255, 193, 0, 0.8);

  --secondary-color-100: rgb(0, 152, 169, 0.8);
  --secondary-color-80: rgb(0, 152, 169, 0.8);

  --white-color-100: rgba(255, 255, 255, 1);
  --white-color-80: rgba(255, 255, 255, 0.8);
  --white-color-50: rgba(255, 255, 255, 0.5);

  --neutral-color-100: rgba(254, 87, 78, 1);
  --neutral-color-80: rgba(254, 87, 78, 0.8);
}

body {
  background: var(--background-color-degraded);
  color: var(--white-color-80);
}

a {
  color: var(--white-color-80);
}

a:hover {
  color: var(--white-color-100);
}

h1 {
  color: var(--primary-color-100);
}

th {
  color: var(--white-color-80);
}

td {
  color: var(--white-color-80);
}

.btn-alter {
  background-color: var(--primary-color-80);
}

.btn-delete {
  background-color: var(--neutral-color-80);
}

.btn-send {
  background-color: var(--secondary-color-100) !important;
}

.btn-send:hover {
  background-color: transparent !important;
}

.btn-clear {
  background-color: var(--white-color-50);
}

input,
textarea {
  background-color: transparent !important;
  color: var(--white-color-100) !important;
}

.select {
  background: var(--background-color) !important;
  color: var(--white-color-100);
}

.select option {
  color: var(--white-color-50);
}
